<footer class="site-footer">
  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

<!--     <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://uk.linkedin.com/in/lnguyenmy" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/pinglinh" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://medium.com/@pinglinh" target="_blank"><i class="fa fa-medium"></i></a>
        <a href="https://500px.com/pinglinh" target="_blank"><i class="fa fa-500px"></i></a>
        <a href="https://github.com/pinglinh" target="_blank"><i class="fa fa-github-alt"></i></a>
      </div> -->

      <div class="footer">

        <div class="title-mail">
        made with <span style="color: #D65F5F">&hearts;</span> by <span style="color: #d1e9d2">Linh Nguyen My</span>

        <!-- {{ site.title }} | www.pinglinh.com -->
        </div>

        <div class="social-media">
        <a href="https://uk.linkedin.com/in/lnguyenmy" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://twitter.com/pinglinh" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://medium.com/@pinglinh" target="_blank"><i class="fa fa-medium fa-2x"></i></a>
        <a href="https://500px.com/pinglinh" target="_blank"><i class="fa fa-500px fa-2x"></i></a>
        <a href="https://github.com/pinglinh" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x"></i></a>
        </div>

        <p>{{ site.description }}</p>

      
    </div>

  </div>

</footer>
